.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;

  background-color: var(--color-grey-light);
  box-shadow: var(--shadow-dark);
  border-radius: 0.7rem;
  overflow: hidden;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    border-radius: 0;
  }

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    width: 100%;
  }
}

.header {
  min-height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  border-bottom: var(--line);

  font-size: 1.4rem;
  
  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark);
  flex: 0 0 21%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.detail {
  display: flex;
  gap: 4.5rem;

  background-color: var(--color-grey-light);
  padding: 4.5rem;
  font-size: 1.4rem;
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  border-radius: .7rem;

  flex: 0 0 60%;
}

.user-reviews {
  flex: 1;
  text-align: center;
}
